* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container {
width: 90%;
margin: 0px auto;
}

.bowi {
    background-color: black;
    color: white;
    text-align: center;
    padding: 16px;
}
.rang {
    width: 100%;
    height: 87vh;
    background-image: url(../img/house.png);
    text-decoration: none;
    background-size: cover;
    width: 50%;
}
.img {
    margin-top: px;
}
ul li a {
    color: white;
    text-decoration: none;
    list-style: none;
}
ul li {
    list-style: none;
}
.ul {
    display: flex;
    gap: 60px;
    padding-top: 38px;
}
.ran {
    background-color: #996B60;
}
.hous {
    margin-left: 713px;
    margin-top: -30px;
}
.Newsletter {
    margin-left: 1160px;
    margin-top: -30px;
    display: flex;
    gap: 60px;
}
.the {
    font-size: 60px;
    color: white;
    margin-top: -500px;
    margin-left: 880px;
}
.Light {
    margin-left: 900px;
    color: white;
}
.button {
    background-color: transparent;
    color: black;
    padding: 14px 76px;
    margin-left: 900px;
    margin-top: 50px;
    border: 1px solid white;
}
button:hover{
    background-color: #000000;
    color: #fff;
    transition: 1s;
}
.FOOD {
    margin-top: 200px;
    text-align: center;
    margin-left: -1000px;
    margin-bottom: 50px;
}
.thet {
    text-align: center;
    margin-top: -125px;
    margin-bottom: 50px;
}
.bon {
    margin-left: 1050px;
    text-align: center;
    margin-top: -155px;
    margin-bottom: 50px;
}
.ciziq {
    margin-top: 20px;
}
.pasdagi {
    text-align: center;
    font-size: 35px;
    margin-bottom: 124px;
}
.atir {
    text-align: center;
    margin-left: -1070px;
}
.Sampler {
    margin-bottom: 20px;
}
.ikkinchisi {
    text-align: center;
    margin-top: -600px;
    position: relative;
}
.Grapefruit {
    margin-bottom: 20px;
}
.fresh {
text-align: center;
margin-left: 1050px;
margin-top: -600px;
position: relative;
}
.cir {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 25px;
    border-radius: 50px;
    padding: 30px;
    font-size: 12px;
    background-color: #000000;
}



.Flower {
    margin-bottom: 20px;
}
.butto {
    margin-top: 20px;
    padding: 15px 48px 16px 49px;
    background-color: white;
    color: black;
    transition: 1s;
}
.ciz {
    margin-top: 200px;
    margin-bottom: 60px;
}
.coy {
    width: 100%;
}
.derived {
    display: flex;
}
.tepa {
    font-size: 40px;
}
.of {
    margin-left: 573px;
    margin-top: 80px;
}
.anau {
margin-top: 50px;
margin-bottom: 40px;
}
.nmdr {
    width: 28%;
    margin-top: 60px;
}
.easy {
    margin-bottom: 40px;
}
.thez {
    margin-bottom: 40px;
}
.natura {
    margin-bottom: 40px;
}
.artificial {
    margin-bottom: 40px;
}
.delivered{
    margin-bottom: 40px;
}
.we {
    margin-bottom: 50px;
}
.okn {
    display: flex;
}
.osimlikk {
    margin-left: 50px;
}
.color {
    background-color: #000000;
    width: 100%;
    height: 40vh;
}
.colorr {
    color: white;
    padding-top: 95px;
    margin-left: 75px;
}
.susan {
    color: white;
    margin-left: 182px;
    padding-top: 40px;
}
.buyer {
    color: #8A8A8A;
    margin-left: 178px;
    padding-top: 30px;
}
.love {
    text-align: center;
    margin-top: -272px;
    color: white;

}
.opk {
    color: white;
    padding-top: -100px;
}
.kpo {
    margin-left: 750px;
    padding-top: 30px;
}
.kpop {
    margin-left: 750px;
    padding-top: 20px;
    color: #8A8A8A;
}
.wer {
    color: white;
    text-align: center;
    margin-left: 1000px;
    margin-top: -172px;
}
.rty {
    padding-top: 20px;
    padding-bottom: 30px;
}
.qulupnay {

    margin-top: 60px;
}
.vbn {
    display: flex;
    font-size: 37px;
}
.h2 {
    margin-left: 200px;
    margin-top: 100px;
}
.our {
    font-size: 18px;
    margin-top: 154px;
}
.learn {
    font-size: 15px;
    margin-top: 60px;
}
.foto {
    background-image: url(../img/meva.png);
    width: 100%;
    height: 60vh;
    margin-top: 10px;
    margin-bottom: 50px;
    padding-top: 35px;
}
.set {
    background-color: black;
    color: white;
    margin-right: 970px;
    margin-left: 80px;
    padding: 60px;
    text-align: center;
}
.butt {
    padding: 15px 40px 15px 40px;
    margin-top: 30px;
    background-color: white;
    color: black;
    transition: 1s;
}
.kvhj {
    margin-bottom: 50px;
}
.flex {
    display: flex;
    gap: 15px;
}
.tyu {
    color: #8A8A8A;
    margin-bottom: 100px;
}
.alsk {
    margin-left: 80px;
    margin-top: 30px;
    background-color: black;
    color: white;
    margin-right: 970px;
    padding: 50px 150px;
}
.uhv {
    margin-bottom: 20px;
}
.oxir {
    background-color: #191919;
    color: white;
    width: 100%;
    height: 60vh;
    margin-top: -50px;
}

.oxiri {
    margin-left: 80px;
    padding-top: 45px;
}
.receive {
    margin-top: 30px;
}
.email {
    margin-top: 50px;
    display: flex;
    gap: 50px;
}
.vhf {
    color: #818181;
}
.juda {
margin-left: 1000px;
margin-top: -500px;
display: flex;
color: white;

}
.sahifa2, .sahifa3, .sahifa4, .sahifa5, .sahifa6, .sahifa7, .sahifa8, .sahifa9 {
    display: flex;
    margin-left: 1000px;
}
.sah1 {
    margin-left: 100px;
}
.sah2 {
    margin-left: 100px;
}
.sah0 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.sah3 {
    margin-left: 110px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sah4 {
    margin-left: 85px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sah5 {
    margin-left: 115px;
}
.sah6 {
    margin-left: 102px;
}
.sah30 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.sah7 {
    margin-left: 67px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sah8 {
    margin-left: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sah9 {
    margin-left: 85px;
}
.sah10 {
    margin-left: 88px;
}
.sah11 {
    margin-left: 118px;
}
.sah31 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.sah12 {
    margin-left: 270px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sah21, .sah22 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.sdfg {
    display: flex;
    color: white;
    margin-left: 80px;
    gap: 50px;
    margin-top: 60px;
}
.best {
    color: white;
    border-radius: 40px;
    text-transform: uppercase;
    text-align: center;
}
.circle {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 25px;
    border-radius: 50px;
    padding: 30px;
    font-size: 12px;
    background-color: #000000;



}